[Desktop Entry]
Name=Zet Terminal
Comment=A premium modern GPU-accelerated terminal emulator
Exec=zet-terminal
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;console;command;shell;vte;
